@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

.sora-font {
    font-family: "Sora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.product_bg_img {
    background: linear-gradient(to right bottom, #52db3a 15%, rgba(255, 255, 255, 0)), url("../image/vegetable-offer.png") no-repeat right bottom/70%;
}

.animation-div{
    animation-duration: 5s;
    animation-name: spin;
    animation-iteration-count: infinite;
}
@keyframes spin{
    0%{
        transform: translateX(0px);
    }
    30%{
        transform: translateX(100px);
    }
    60%{
        transform: translateX(-100px);
        border-radius: 20px;
    }
    100%{
        transform: translateX(0px);
    }
}